<!DOCTYPE html>
<html>
	<head>
		<title>Faiq Aminuddin, Demak</title>
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about">About</a></li>
        		<li><a href="/cv">CV</a></li>
        		<li><a href="/blog">Blog</a></li>
    		</ul>
		</nav>
		<div class="container">
    		<div class="blurb">
        		<h1>Bismillahirohmanirrohim!</h1>
				<p>Alhamdulillah <em>A Touch of Evil</em> Wa syukru lillah. <a href="/about">Read more about my life...</a></p>
    		</div><!-- /.blurb -->
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:faiq.aminuddin.demak@gmail.com">email</a></li>
        		<li><a href="https://github.com/FaiqAminuddin">github.com/FaiqAminuddin</a></li>
			</ul>
		</footer>
	</body>
</html>
